h1 {
  text-align: center;
  font-size: 40px !important;
}

.container {
  margin-top: 50px;
  max-width: 750px;
}

.card {
  border-radius: 30px;
  display: flex;
  border: none;
  flex-direction: column;
  position: relative;
  word-wrap: break-word;
  padding: 30px;
}

.card-title {
  border-radius: 0;
  padding: 0.875rem 2rem;
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.accounttype {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.designation_0{
  display: none;
}
.terms{
  font-size: 18px;
}