<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
        input,
        textarea {
            display: flex;
        }

        div {
            margin: 10px;
        }
    </style>
</head>

<body>
    {{form.as_div}}

    {% comment %}
    <div>
        <label>{{form.name.label}}</label>
        {{form.name}}
    </div>
    <div>
        <label for="">{{form.country.label}}</label>
        {{form.country}}
    </div>
    <div>
        <label for="">{{form.state.label}}</label>
        {{form.state}}
    </div>
    <div>
        <label for="">{{form.city.label}}</label>
        {{form.city}}
    </div>
    <div>
        <label for="">{{form.address.label}}</label>
        {{form.address}}
    </div>
    <div>
        <label for="">{{form.phone.label}}</label>
        {{form.phone}}
    </div>
    <div>
        <label for="">{{form.email.label}}</label>
        {{form.email}}
    </div>
    <div>
        <label for="">{{form.pob.label}}</label>
        {{form.pob}}
    </div>
    <div>
        <label for="">{{form.date_established.label}}</label>
        {{form.date_established}}
    </div>
    <div>
        <label for="">{{form.website.label}}</label>
        {{form.website}}
    </div>
    <div>
        <label for="">{{form.logo.label}}</label>
        {{form.logo}}
    </div>
    <div>
        <label for="">{{form.description.label}}</label>
        {{form.description}}
    </div>
    {% endcomment %}
    <script src="/static/js/school.js"></script>
</body>

</html>